<header class="break">
<h1>Hi there!</h1>
</header>
<br>
<br>

<h2>Please signup to place an order!</h2>

<form action="/signup" method="POST">

    <p><label for="name">Name: </label><input type="text" name="name" id="name"></p>
    <p><label for="email">Email: </label><input type="text" name="email" id="email"></p>
    <p><label for="password">Password: </label><input type="password" name="password" id="password"></p>

    <input type="submit" id="submit" value="Sign Up">
</form>
