<h1>My Order History</h1>

<% if @orders.empty? %>
    <p>You don't have any orders. Please create one <a href="/orders/new">here.</a></p>
<% else %>
    <ol>
    <% @orders.each do |order| %>
        <li>Order Number: <%= order.id %></li>
        <br>
    <% end %>
    </ol>
<% end %>

