<div class="container">
  <header><h1>Chaya's Cafe</h1></header>
  <div class="col-md-8 col-md-offset-2">
    
      <%# <form action="/signup" method="get">
        <button type="submit">Sign Up</button>
      </form> %>

      <a href="/signup" class="button4" style="background-color:#4e9af1">Sign Up</a>
      <a href="/login" class="button4" style="background-color:#4e9af1">Login</a>
      

  </div>
</div>
